@model BeeGame.Models.BeeGame

@{
    ViewBag.Title = "Bee Game";
}

<h2>Bee Game</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @:Queen Bee
    <ul>
        <li>@Html.TextBoxFor(x => x.QueenBee.LifeSpan)</li>
    </ul>

    @:Worker Bees
    <ul>
        @foreach (var workerBee in Model.WorkerBees)
        {
            <li>@workerBee.LifeSpan</li>
        }
    </ul>

    @:Drone Bees
    <ul>
        @foreach (var droneBee in Model.DroneBees)
        {
            <li>@droneBee.LifeSpan</li>
        }
    </ul>


    <input type="submit" value="Hit" />
}

@using (Html.BeginForm("Reset", "Home", FormMethod.Post))
{
    <input type="submit" value="Reset" />
}
